@import url(https://fonts.google.com/specimen/Epilogue);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    
}
p{
    display: inline-block;
    padding: 0;
}

.navbar-container {
    border: 1px solid red;
    max-height: 90px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0);
    padding: 30px 30px;
}
.logo {
    width: 10%;
    max-height: 30px;
    display: grid;
    align-items: center;
    cursor: pointer;
}
.nav-cont2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 2px;
}

  

.login-container {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.login-container button {
    border-radius: 7px;
    margin: 0 10px;
    padding: 5px 10px;
    height: 30px;
    cursor: pointer;
}
.login-container button:hover {
    font-weight: bold;
}
.button2 {
    border: 1.5px solid rgb(0, 0, 0);
}
.nav-links {
    display: flex;
}
.nav-links > div {
    margin-left: 30px;
}
.nav-links > div:hover {
    font-weight: bold;
    cursor: pointer;
    
}
.nav-links > p{
    margin-left: 20px;
}
.nav-links > p:hover {
    cursor: pointer;
    font-weight: bold;
}
.feature-list {
    z-index: 2;
    margin-left: -70px;
    margin-top:10px;
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
    -webkit-box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
    -moz-box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
}
.feature-list ul li {
    padding: 4px 10px;
    background-color: rgb(255, 255, 255);
}
.feature-list ul li img {
    width: 12px;
    margin-right: 15px;
    margin-top: 4px;
}
.features:hover .feature-list{
     display: block;
    
}
.features img{
    margin-left: 5px;
}


.company-list {
    display: none;
    margin-left: -50px;
    margin-top:10px;
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
    -webkit-box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
    -moz-box-shadow: -20px 17px 50px -34px rgba(0,0,0,1);
}
.company-list ul li {
    
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
}
.company:hover .company-list {
    display: block;
}

