
.main-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 7%;
    grid-auto-flow: row;
    grid-template-areas:
      "hero image";
    margin: 0 12% 0 12%;
    margin-top: 50px;
    
  }
  
  .hero { 
      grid-area: hero;
      background-color: rgba(255, 0, 0, 0);
    }
  
  .image { 
    width: 100%;
    
      grid-area: image; 
    }
    .image img {
      max-height: 100%;
    }
  .large-txt {
    background-color: rgba(255, 0, 0, 0);
    margin-top: 25%;
    font-size: 4vw;

    font-weight: bold;
  }
  .hero-text {
    font-size: 2vw;
    margin-top: 20px
  }
  .hero button{
    
    font-weight: bold;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 3% 10%;
    border-radius: 10px;
  }
  .hero button:hover {
    background-color: white;
    border: 1px solid black;
    color: black; 
    font-weight: bold;
  }
  .client-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    
  }
  .client-img img {
    width: 20%;
    height: 100%;
    align-self: center;
  }
  
  
  .image-container {
    height: 100%;
    background-image: url(../assets/images/image-hero-desktop.png);
    background-size: 100% 100%;
  }
  @media screen and (max-width: 750px ) {
    .main-container{
      display: grid;
      flex-direction: column-reverse;
      grid-auto-flow: column;
      gap: 0;
      grid-auto-columns: 1fr;
    grid-template-areas:
      "image"
      "hero ";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      margin: 0;
      margin-top: 0px;
    
    }
    .image-container {
      background-image: url(../assets/images/image-hero-mobile.png);
      background-size: 100% 90%;
      background-repeat: no-repeat;
     
    }
    .large-txt{
      margin-top: 5%;
      font-size: 5vw;
      width: 100%;
      text-align: center;
    }
    .hero-text{
      font-size: 3.7vw;
      width: 100%;
      text-align: center;
    }
    .hero{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .client-img{
      margin-bottom: 10%;
    }
    .client-img img{
      height: 55%;
    }
  }